# @date:    2012-11-21
# @modify:  2013-01-18
# @author:  sunshengxiang
# @about:   go configration
#
# config format --.
# [group name]  eg: ecom_qa
# enctype  = < plain | base64 >
# userpass = username,password  eg: work,12345678
# hostname = full_host_name     eg: bb-testing-oped2056.vm.baidu.com

#
# Example (username and password are just examples)
#
[Section1]
userpass = root,1qaz0p;/
userpass = ssx,abcdefg
hostname = yx-testing-ecom231.vm.baidu.com
hostname = db-testing-ps2025.db01.baidu.com

[Section2]
userpass = www,abcd1234
hostname = bb-testing-vrp123.baidu.com

[Section3]
enctype = base64
userpass = susan,MTIzNDU2

hostname = mm-testing-nice.baidu.com

